@import '~node_modules/modern-normalize/modern-normalize.css';

$primary-text-color: #000000;
$secondary-text-color: #808080;
$white-color: #ffffff;

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: $primary-text-color;
}
