<section class="container catalog">
  <div class="catalog__container">
    <a class="catalog__link" href="#"><img src="./images/catalog.png" alt="" /></a>
    <p class="catalog__title">каталог</p>
    <div class="more">
      <ul class="more__desktop">
        <li><a href="#">лицо</a></li>
        <li><a href="#">глаза</a></li>
        <li><a href="#">брови</a></li>
        <li><a href="#">губы</a></li>
        <li><a href="#">кисти</a></li>
        <li><a href="#">ресницы</a></li>
        <li><a href="#">волосы</a></li>
        <li><a href="#">уход за лицом</a></li>
      </ul>
      <ul class="more__tablet">
        <li><a href="#">лицо</a></li>
        <li><a href="#">глаза</a></li>
        <li><a href="#">брови</a></li>
      </ul>
      <select class="more__select" name="more">
        <option value="else">еще</option>
        <option value="ears">уши</option>
      </select>
    </div>
  </div>
  <ul class="more-about">
    <li class="more-about__item"><a class="more-about__link" href="#">новинки</a></li>
    <li class="more-about__item"><a class="more-about__link" href="#">скидки</a></li>
    <li class="more-about__item"><a class="more-about__link" href="#">бренды</a></li>
  </ul>
</section>
<div class="separator"></div>
