<footer class="footer">
  <div class="footer__contacts">
    <div class="footer__block">
      <address class="footer__address">
        <ul class="footer-address">
          <li><a class="footer-address__tel" href="tel:+373060293933">(+373) 06 02 93 933</a></li>
          <li>
            <a class="footer-address__mail" href="mailto:delimira.md@gmail.com"
              >delimira.md@gmail.com</a
            >
          </li>
          <li class="footer-address__name">CC Atrium</li>
          <li class="footer-address__place">
            Улица Албишоара 4, Кишинев 2001, Молдова 2 этаж, бутик # 23
          </li>
        </ul>
      </address>
      <div class="footer-nav">
        <p class="footer-nav__text">Полезная информация</p>
        <ul class="footer-nav__list">
          <li><a class="footer-nav__link" href="#">Политика конфиденциальности</a></li>
          <li><a class="footer-nav__link" href="#">Доставка и оплата</a></li>
          <li><a class="footer-nav__link" href="#">О нас</a></li>
          <li><a class="footer-nav__link" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="sociallinks">
        <p class="sociallinks__text">следите за нами</p>
        <ul class="sociallinks__list">
          <li class="sociallinks__item">
            <a href="#"><img src="./images/footer/instagram.svg" alt="instagram" /></a>
          </li>
          <li class="sociallinks__item">
            <a href="#"><img src="./images/footer/facebook.svg" alt="instagram" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__label container">
    <p>2022 &copy Delmira Beauty. all rights reserved</p>
    <img src="./images/footer/logo.svg" alt="" />
  </div>
</footer>
