<header>
  <section class="header container">
    <p class="logo">
      <a href="#"><img class="logo__img" src="./images/brend.png" alt="logo" /></a>
    </p>
    <form class="search">
      <div class="search__container">
        <input type="text" class="search__input" placeholder="search" />
        <button type="button" class="search__button">
          <span class="search__icon"></span>
        </button>
      </div>
    </form>
    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__link navigation__link--current" href="#"> О нас</a>
      </li>
      <li class="navigation__item"><a class="navigation__link" href="#">Доставка и Оплата</a></li>
      <li class="navigation__item"><a class="navigation__link" href="#">Контакты</a></li>
      <li class="navigation__item"><a class="navigation__link" href="#">Ру</a></li>
    </ul>
    <div class="profile-block">
      <p class="profile-block__profile"><img src="./images/profile.png" alt="profile" /></p>
      <p class="profile-block__basket"><img src="./images/basket.png" alt="basket" /></p>
      <p>0 mdl</p>
    </div>
  </section>
</header>
