<section class="new">
  <div class="new__left"></div>
  <div class="new__container">
    <div class="new__img">
      <img
        srcset="./images/new/new-face-1x.jpg 1x, ./images/new/new-face-2x.jpg 2x"
        src="./images/new/new-face-1x.jpg"
        alt="Пример использования крема"
      />
    </div>
    <div class="new__info">
      <h2 class="new__title">Новинки</h2>
      <div class="new__block-text"><a href="#" class="new__text">Перейти к новинкам</a></div>

      <ul class="examples">
        <li class="examples__item">
          <div class="examples__block">
            <div class="example">
              <div class="example__label">New</div>
              <div class="caption">
                <p class="caption__circle"></p>
                <p class="caption__text">beige</p>
              </div>
              <img class="examples__img" src="./images/new/beige-1x.png" alt="Крем тональный" />
              <div class="examples__box"><img src="./images/new/beige-images.png" alt="" /></div>
            </div>

            <div class="description">
              <p class="description__name">luxvisage</p>
              <p class="description__value">316 mdl</p>
              <p class="description__text">Крем тональный skin evolution soft matte blur effect</p>
            </div>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__block">
            <div class="example">
              <div class="example__label">New</div>
              <div class="caption">
                <p class="caption__circle">
                  <img src="./images/new/velvet.png" alt="cream velvet" />
                </p>
                <p class="caption__text">cream velvet</p>
              </div>
              <img
                class="examples__img"
                src="./images/new/cream-velvet-1x.jpg"
                alt="Крем тональный"
              />
              <div class="examples__box">
                <ul class="pallete">
                  <li class="pallete__item">
                    <img src="./images/new/velvet-1.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/velvet-2.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/velvet-3.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/velvet-4.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/velvet-5.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/velvet-6.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/velvet-7.png" alt="пример цвета" />
                  </li>
                </ul>
                <p class="pallete__more">+6</p>
              </div>
            </div>

            <div class="description">
              <p class="description__name">luxvisage</p>
              <p class="description__value">120 mdl</p>
              <p class="description__text">Помада для губ glam look cream velvet</p>
            </div>
          </div>
        </li>
        <li class="examples__item">
          <div class="examples__block">
            <div class="example">
              <div class="example__label">New</div>
              <div class="caption">
                <p class="caption__circle">
                  <img src="./images/new/metalhype.png" alt="cream velvet" />
                </p>
                <p class="caption__text">metal hype</p>
              </div>
              <img
                class="examples__img"
                src="./images/new/metal-hype-1x.jpg"
                alt="Крем тональный"
              />
              <div class="examples__box">
                <ul class="pallete">
                  <li class="pallete__item">
                    <img src="./images/new/metalhype-1.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/metalhype-2.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/metalhype-3.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/metalhype-4.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/metalhype-5.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/metalhype-6.png" alt="пример цвета" />
                  </li>
                  <li class="pallete__item">
                    <img src="./images/new/metalhype-7.png" alt="пример цвета" />
                  </li>
                </ul>
                <p class="pallete__more">+12</p>
              </div>
            </div>

            <div class="description">
              <p class="description__name">luxvisage</p>
              <p class="description__value">99 mdl</p>
              <p class="description__text">Cияющие жидкие тени для век metal hype</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="new__right"></div>
</section>
