<section class="offers container">
  <div class="offers__info">
    <h2 class="offers__title">Специальные предложения</h2>
    <p class="offers__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.
    </p>
    <p class="offers__text">Перейти к спецпредложениям</p>
  </div>
  <ul>
    <li class="offers__item">
      <div class="offers__block">
        <div class="offer">
          <div class="offer__label">%</div>
          <div class="offer__caption">
            <p class="offer__circle">
              <img src="./images/new/velvet.png" alt="cream velvet" />
            </p>
            <p class="offer__text">cream velvet</p>
          </div>
          <img class="offer__img" src="./images/offers/offers-1.png" alt="Крем тональный" />
          <div class="offer__box">
            <img src="./images/offers/offers-pallete-1.png" alt="" />
            <p class="offer__more">+6</p>
          </div>
        </div>

        <div class="offers-description">
          <p class="offers-description__name">luxvisage</p>
          <div class="offers-description__value">
            <p class="offers-description__new-value">120 mdl</p>
            <p class="offers-description__ex-value">200 mdl</p>
          </div>

          <p class="offers-description__text">Помада для губ glam look cream velvet</p>
        </div>
      </div>
    </li>
  </ul>
</section>
