<section class="subscription">
  <div class="subscription__left"></div>
  <div class="subscription__container container">
    <img class="subscription__logo" src="./images/subcription/delmira.png" alt="logo" />
    <div class="subscription__arrow">
      <a href="#"
        ><img
          class="subscription__arrow-left"
          src="./images/subcription/arrow-left.png"
          alt="arrow-left"
      /></a>
      <a href="#"
        ><img class="subscription__arrow-right" src="./images/arrow.png" alt="arrow-right"
      /></a>
    </div>
    <ul class="subscription__list">
      <li class="subscription__item">
        <img src="./images/subcription/mascara-1.jpg" alt="mascara" />
      </li>
      <li class="subscription__item">
        <img src="./images/subcription/mascara-2.jpg" alt="mascara" />
      </li>
      <li class="subscription__item">
        <img src="./images/subcription/mascara-3.jpg" alt="mascara" />
      </li>
    </ul>
  </div>
  <div class="subscription__right"></div>
</section>
<form class="subscription-form container">
  <input
    class="subscription-form__input"
    type="text"
    placeholder="Укажите свой Email, чтобы первыми узнавать о новинках и специальных предложениях от delmira.md"
  />
  <button class="subscription-form__btn" type="button">
    <p class="subscription-form__btn-text">Подписаться на рассылку</p>
    <img class="subscription-form__btn-img" src="./images/subcription/arrow-white.png" alt="" />
  </button>
</form>
